﻿@model IEnumerable<Product>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#cartModal">
    Your cart: @ViewBag.Cart
</button>


<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My cart: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt text-danger"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <h2>Total: $@Model.Sum(x => x.Price)</h2>
                }
                else
                {
                    <p>Your cart is empty!</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-controller="Order" asp-action="Create" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>
</div>