﻿@model IEnumerable<Product>

@{
    ViewBag.Title = "Home";
}

<h1>EShop</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 my-3">
            <div class="card">
                <a asp-action="Product" asp-route-id="@item.Id">
                    <img src="~/images/@item.ImageUrl" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Price: $@item.Price</p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-cart-plus"></i> Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>
