﻿@model Product
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<div class="row">
    <div class="col-md-12 my-3">
        <div class="card">
            <img src="~/images/@Model.ImageUrl" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Price: $@Model.Price</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @*<script>
        $('body').css('background-color', 'cyan');
    </script>*@
}