﻿@model Product
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (TempData.ContainsKey("Created"))
{
    <div class="alert alert-success">
        @TempData["Created"]
    </div>
}

@if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="image">Upload product image:</label>
        <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts 
{
    <partial name="_ValidationScripts" />
}